Source: nvmr-json
Priority: optional
Maintainer: Robert Middleton <robert.middleton@rm5248.com>
Build-Depends: debhelper (>= 11), qtbase5-dev, cmake
Standards-Version: 4.1.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/nvmr-json
#Vcs-Git: https://salsa.debian.org/debian/nvmr-json.git

Package: libnvmr-json-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libnvmr-json1 (= ${binary:Version}), ${misc:Depends}
Description: NVMR JSON library(development headers)
 NVMR JSON library(development headers)

Package: libnvmr-json1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NVMR JSON library
 NVMR JSON library
